# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\kurs_moje04\Cwiczenie4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
